@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Kumbh Sans', sans-serif;
  background-color: rgb(70, 71, 71);
  color: white;
  height: 100vh;
}

.nav {
  height: 60px;
  background-color: rgb(88, 90, 91);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
}

.nav-links li {
 transition: all ease-in-out 0.5s;
}

.nav-links li:hover {
  border-bottom: 2px solid #e7b63a;
  padding-bottom: 0.5rem;
}

.logo {
  font-weight: 700;
}

.search-cont {
  display: flex;
  margin-top: 30%;
  justify-content: center;
  align-items: center;
}

.search-cont input {
  background-color: rgb(70, 71, 71);
  border: 2px solid rgb(176, 179, 179);
  width: 80%;
  height: 3rem;
  border-radius: 30px;
  padding-left: 2rem;
  color: white;
  font-size: 20px;
}

.search-cont input::placeholder {
  color: rgb(176, 179, 179);
  font-size: 20px;
}

.search-cont input:focus {
  outline: none;
  border-color: #e7b63a;
}

.filtered-cont {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  gap: 1rem;
}

.candidate-info {
  display: flex;
  gap: 2rem;
  box-shadow: 0px 0px 0px 3px rgb(249 238 238 / 20%);
  padding: 10px;
  align-items: center;
  transition: all ease-in-out 1s;
}

.candidate-info:hover {
  background-color: white;
  color: rgb(70, 71, 71);
}

.candidate-info img {
  width: 40px;
  height: 40px;
  border-radius: 20px
}

a {
  text-decoration: none;
  color: white;
}

.candidate-genome {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.genome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.genome div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.genome img {
  width: 250px;
  height: 200px;
  border-radius: 5px;
}

@media screen and (min-width: 900px) {
  .nav {
    padding: 0 5rem;
  }

  .search-cont {
    margin-top: 10%;
  }

  .search-cont input {
    width: 55%;
    height: 3.5rem;
  }

  .filtered-cont {
    width: 55%;
    margin: auto;
  }

  .candidate-genome {
    height: 80vh;
    align-items: center;
  }

  .genome {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  .genome div {
    gap: 2rem;
  }

  .genome img {
    width: 350px;
    height: 280px;
  }
}